<h1>Welcome!</h1>

<p>
  Please
  <a href="/login">Log In</a> or <a href="/sign_up">
  Sign Up</a>
</p>

<a href="/books">Start Reading</a>

<p>Check out the <a href="/reading_plans">Reading Plans</a></p>
